@charset "UTF-8";
/*Fuentes*/
/* Logo*/
@import url("https://fonts.googleapis.com/css2?family=Stick&display=swap");
/* banner*/
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap");
/* body*/
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/*Ajustes básicos*/
html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Body*/
body {
  background-color: #192229;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #a8afb3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Header */
.main-header {
  background-color: var(--primary);
  width: 100%;
  /*box-shadow: 0px 0px 5px 3px var(--title-color);*/
  -webkit-box-shadow: 0 17px 50px rgba(255, 255, 255, 0.19), 0 12px 15px rgba(255, 255, 255, 0.24);
          box-shadow: 0 17px 50px rgba(255, 255, 255, 0.19), 0 12px 15px rgba(255, 255, 255, 0.24);
  border-bottom: 1px solid var(--title-color);
}

.main-header__container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

/*Logo*/
.main-logo {
  margin: 0;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  margin-left: 7px;
}

.main-logo__figure {
  margin: 0;
  height: 65px;
}

.main-logo__img {
  height: 100%;
}

.main-logo__texto,
.main-footer__logoTexto {
  font-family: "Stick", sans-serif;
  font-style: normal;
  color: #1192ee;
  margin-left: 7px;
  line-height: 65px;
}

/* Pantalla 1280px*/
@media screen and (min-width: 1280px) {
  .main-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*Menu*/
.main-menu {
  display: none;
  overflow: hidden;
}
.main-menu__ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-menu__li {
  width: 100%;
  padding: 10px 5px;
  list-style: none;
}
.main-menu__li:nth-child(6) {
  margin: 25px;
}
.main-menu__link {
  color: #a8afb3;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.3em;
}
.main-menu__link__es, .main-menu__link__eu {
  padding: 15px;
  text-decoration: none;
  background-color: #1192ee;
  color: #ffffff;
  font-weight: bold;
  border: 2px solid #1192ee;
}
.main-menu__link__es {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.main-menu__link__eu {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: transparent;
}
.main-menu__btnMenu {
  width: 30px;
  position: absolute;
  right: 20px;
  top: 35px;
  cursor: pointer;
  height: 20px;
}
.main-menu__btnMenu__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-menu__btnMenu__linea {
  height: 3px;
  background-color: #ffffff;
  opacity: 1;
  -webkit-transform: translateY(0) rotate(0);
          transform: translateY(0) rotate(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* No muestro hablemos en movil*/
.main-menu__boton {
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: #ffffff;
  font-size: 2rem;
  background-color: #075E54;
  border-radius: 50%;
  padding: 7px 12px;
}
.main-menu__boton span {
  display: none;
}

/* Efectos menu */
.main-menu__abierto .main-menu__btnMenu__linea:nth-child(2) {
  opacity: 0;
}

.main-menu__abierto .main-menu__btnMenu__linea:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

.main-menu__abierto .main-menu__btnMenu__linea:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(-45deg);
          transform: translateY(-9px) rotate(-45deg);
}

/* Pantalla 950px */
@media screen and (min-width: 950px) {
  /* Logo */
  .main-logo {
    -webkit-animation: 1.5s giroY 1;
            animation: 1.5s giroY 1;
  }

  /* Animación Logo */
  @-webkit-keyframes giroY {
    0% {
      opacity: 0.5;
      -webkit-transform: perspective(200px) rotateY(90deg);
              transform: perspective(200px) rotateY(90deg);
    }
    40% {
      -webkit-transform: perspective(200px) rotateY(-20deg);
              transform: perspective(200px) rotateY(-20deg);
    }
    70% {
      -webkit-transform: perspective(200px) rotateY(20deg);
              transform: perspective(200px) rotateY(20deg);
    }
  }
  @keyframes giroY {
    0% {
      opacity: 0.5;
      -webkit-transform: perspective(200px) rotateY(90deg);
              transform: perspective(200px) rotateY(90deg);
    }
    40% {
      -webkit-transform: perspective(200px) rotateY(-20deg);
              transform: perspective(200px) rotateY(-20deg);
    }
    70% {
      -webkit-transform: perspective(200px) rotateY(20deg);
              transform: perspective(200px) rotateY(20deg);
    }
  }
}
/* Pantalla 1280 */
@media screen and (min-width: 1280px) {
  /* Menu */
  .main-menu,
.main-menu__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-menu__btnMenu,
.main-menu__ul__btnMenu {
    display: none;
  }
  .main-menu__li:nth-child(6),
.main-menu__ul__li:nth-child(6) {
    margin-left: 50px;
  }
  .main-menu__link, .main-menu__boton,
.main-menu__ul__link,
.main-menu__ul__boton {
    padding: 15px;
    text-decoration: none;
    color: #a8afb3;
    font-weight: bold;
    font-size: 1rem;
  }
  .main-menu__link:hover,
.main-menu__ul__link:hover {
    border-bottom: 3px solid #1192ee;
  }
  .main-menu__boton,
.main-menu__ul__boton {
    background-color: #1192ee;
    border: 2px solid #1192ee;
    padding: 15px 10px;
    border-radius: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: inherit;
    margin-left: 50px;
    color: #ffffff;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-menu__boton__i,
.main-menu__ul__boton__i {
    font-size: 1.8rem;
    margin-right: 15px;
  }
  .main-menu__boton:hover,
.main-menu__ul__boton:hover {
    background-color: transparent;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .main-menu__boton span,
.main-menu__ul__boton span {
    display: block;
  }
}
/* Banner*/
.main-banner,
.main-bannerSection,
.main-caracteristicas {
  width: 100%;
  padding: 0;
  padding-top: 25px;
  background-color: rgba(17, 146, 238, 0.4);
  margin-bottom: 50px;
  overflow: hidden;
}

.main-banner__container,
.main-bannerSection__container,
.main-elegirnos__container,
.main-servicios__container,
.main-caracteristicas__container,
.main-trabajos__container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.main-banner__boxContainer,
.main-bannerSection__boxContainer,
.main-elegirnos,
.main-servicios {
  width: 100%;
}

.main-banner__title,
.main-caracteristicas__title {
  margin: 0;
  padding: 10px;
  font-size: 2rem;
  color: #ffffff;
  font-family: "Londrina Solid", cursive;
}

.main-banner__texto,
.main-caracteristicas__texto {
  padding: 10px;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.main-banner__boton,
.main-caracteristicas__boton {
  text-decoration: none;
  color: #ffffff;
  background-color: #1192ee;
  border: 2px solid #1192ee;
  padding: 15px 10px;
  border-radius: 7px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 15px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.main-banner__boton:hover,
.main-caracteristicas__boton:hover {
  background-color: transparent;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.main-banner__figure,
.main-banner__img,
.main-caracteristicas__figure,
.main-caracteristicas__img,
.main-elegirnos__figure,
.main-elegirnos__img,
.main-caracteristicas__figure,
.main-caracteristicas__img {
  width: 100%;
  margin: 0;
  padding: 15px;
}

/* Animación Banner */
.main-banner__container {
  -webkit-animation: 1s veloz 1;
          animation: 1s veloz 1;
}

@-webkit-keyframes veloz {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200%) skewX(40deg);
            transform: translateX(-200%) skewX(40deg);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20%) skewX(-40deg);
            transform: translateX(-20%) skewX(-40deg);
  }
  80% {
    -webkit-transform: translateX(0%) skewX(15deg);
            transform: translateX(0%) skewX(15deg);
  }
}

@keyframes veloz {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200%) skewX(40deg);
            transform: translateX(-200%) skewX(40deg);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20%) skewX(-40deg);
            transform: translateX(-20%) skewX(-40deg);
  }
  80% {
    -webkit-transform: translateX(0%) skewX(15deg);
            transform: translateX(0%) skewX(15deg);
  }
}
/* Por que elegirnos */
.main-elegirnos__acordeon__container,
.main-servicios__container {
  padding: 10px;
}

.main-elegirnos__texto,
.main-servicios__texto {
  font-size: 1.3rem;
  padding: 10px;
  text-align: justify;
}

.main-elegirnos__title,
.main-elegirnos__acordeon__title,
.main-servicios__title {
  font-size: 2rem;
  padding: 10px;
  text-align: center;
  font-family: "Londrina Solid", cursive;
  color: #ffffff;
}

.main-elegirnos__title::after {
  content: " 🚀";
  font-size: 1.5rem;
}

.main-elegirnos__acordeon__title::after {
  content: " 💪";
  font-size: 1.5rem;
}

.main-elegirnos__acordeon__box {
  margin: 5px auto;
  cursor: pointer;
}

.main-elegirnos__acordeon__box p {
  text-align: justify;
  padding: 10px;
  font-size: 1.3rem;
  font-weight: bold;
}

.main-elegirnos__acordeon__box summary {
  background-color: #212e36;
  padding: 15px;
  border-left: 3px solid #1192ee;
  font-weight: bold;
  list-style-type: none;
  font-size: 1.4rem;
}

/* Nuestros Servicios */
.main-servicios__caja:hover {
  -webkit-box-shadow: 0px 0px 5px 3px #1192ee;
          box-shadow: 0px 0px 5px 3px #1192ee;
  -webkit-animation: 1s chicle 1;
          animation: 1s chicle 1;
}

@-webkit-keyframes chicle {
  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
            transform: scaleX(1.25) scaleY(0.75);
  }
  50% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
            transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
            transform: scaleX(1.15) scaleY(0.85);
  }
}

@keyframes chicle {
  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
            transform: scaleX(1.25) scaleY(0.75);
  }
  50% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
            transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
            transform: scaleX(1.15) scaleY(0.85);
  }
}
.main-servicios__figure {
  width: 90px;
  height: 90px;
}

.main-servicios__img {
  width: 100%;
}

.main-caracteristicas__li {
  font-size: 1.2rem;
  font-weight: bold;
}

.main-caracteristicas__li::before,
.main-elegirnos__acordeon__box summary::before {
  content: "👉 ";
  font-size: 1.3rem;
}

/*Footer*/
.main-caracteristicas__ul {
  margin: 15px 0;
  padding: 0;
  position: relative;
}

.main-caracteristicas__li {
  padding: 15px;
  list-style: none;
  margin: 0;
}

.main-footer__title {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "Londrina Solid", cursive;
}

/* Páginas internas */
/*banner*/
.main-bannerSection__boxContainer {
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Trabajos */
.main-trabajos {
  width: 100%;
}

/* Galeria de imagenes con GRID*/
.galeria-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 15px;
  padding: 15px;
  margin-bottom: 25px;
}
.galeria-grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.galeria-grid__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Pantalla 736px*/
@media screen and (min-width: 736px) {
  /* Banner */
  .main-banner__container,
.main-elegirnos__acordeon,
.main-caracteristicas__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .main-banner__texto {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .main-banner__boton,
.main-caracteristicas__boton {
    font-size: 1.2rem;
  }

  /* Por que elegirnos */
  .main-elegirnos__acordeon__container {
    width: 50%;
  }

  .main-elegirnos__figure,
.main-elegirnos__img {
    width: 300px;
  }

  /* Nuestros servicios*/
  .main-servicios__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .main-servicios__caja {
    width: 43%;
    margin: 10px auto;
  }

  .main-elegirnos__texto {
    text-align: center;
  }

  /* Trabajos */
  .galeria-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr;
    grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: 5vw 15px 5vw 15px 5vw 15px 5vw 15px 5vw 15px 5vw 15px 5vw 15px 5vw;
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
    margin-bottom: 25px;
  }
  .galeria-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .galeria-grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .galeria-grid > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .galeria-grid > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }
  .galeria-grid > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
  }
  .galeria-grid > *:nth-child(6) {
    -ms-grid-row: 1;
    -ms-grid-column: 11;
  }
  .galeria-grid > *:nth-child(7) {
    -ms-grid-row: 1;
    -ms-grid-column: 13;
  }
  .galeria-grid > *:nth-child(8) {
    -ms-grid-row: 1;
    -ms-grid-column: 15;
  }
  .galeria-grid > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .galeria-grid > *:nth-child(10) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .galeria-grid > *:nth-child(11) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  .galeria-grid > *:nth-child(12) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
  }
  .galeria-grid > *:nth-child(13) {
    -ms-grid-row: 3;
    -ms-grid-column: 9;
  }
  .galeria-grid > *:nth-child(14) {
    -ms-grid-row: 3;
    -ms-grid-column: 11;
  }
  .galeria-grid > *:nth-child(15) {
    -ms-grid-row: 3;
    -ms-grid-column: 13;
  }
  .galeria-grid > *:nth-child(16) {
    -ms-grid-row: 3;
    -ms-grid-column: 15;
  }
  .galeria-grid > *:nth-child(17) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .galeria-grid > *:nth-child(18) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .galeria-grid > *:nth-child(19) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  }
  .galeria-grid > *:nth-child(20) {
    -ms-grid-row: 5;
    -ms-grid-column: 7;
  }
  .galeria-grid > *:nth-child(21) {
    -ms-grid-row: 5;
    -ms-grid-column: 9;
  }
  .galeria-grid > *:nth-child(22) {
    -ms-grid-row: 5;
    -ms-grid-column: 11;
  }
  .galeria-grid > *:nth-child(23) {
    -ms-grid-row: 5;
    -ms-grid-column: 13;
  }
  .galeria-grid > *:nth-child(24) {
    -ms-grid-row: 5;
    -ms-grid-column: 15;
  }
  .galeria-grid > *:nth-child(25) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .galeria-grid > *:nth-child(26) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
  .galeria-grid > *:nth-child(27) {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
  }
  .galeria-grid > *:nth-child(28) {
    -ms-grid-row: 7;
    -ms-grid-column: 7;
  }
  .galeria-grid > *:nth-child(29) {
    -ms-grid-row: 7;
    -ms-grid-column: 9;
  }
  .galeria-grid > *:nth-child(30) {
    -ms-grid-row: 7;
    -ms-grid-column: 11;
  }
  .galeria-grid > *:nth-child(31) {
    -ms-grid-row: 7;
    -ms-grid-column: 13;
  }
  .galeria-grid > *:nth-child(32) {
    -ms-grid-row: 7;
    -ms-grid-column: 15;
  }
  .galeria-grid > *:nth-child(33) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .galeria-grid > *:nth-child(34) {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
  }
  .galeria-grid > *:nth-child(35) {
    -ms-grid-row: 9;
    -ms-grid-column: 5;
  }
  .galeria-grid > *:nth-child(36) {
    -ms-grid-row: 9;
    -ms-grid-column: 7;
  }
  .galeria-grid > *:nth-child(37) {
    -ms-grid-row: 9;
    -ms-grid-column: 9;
  }
  .galeria-grid > *:nth-child(38) {
    -ms-grid-row: 9;
    -ms-grid-column: 11;
  }
  .galeria-grid > *:nth-child(39) {
    -ms-grid-row: 9;
    -ms-grid-column: 13;
  }
  .galeria-grid > *:nth-child(40) {
    -ms-grid-row: 9;
    -ms-grid-column: 15;
  }
  .galeria-grid > *:nth-child(41) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }
  .galeria-grid > *:nth-child(42) {
    -ms-grid-row: 11;
    -ms-grid-column: 3;
  }
  .galeria-grid > *:nth-child(43) {
    -ms-grid-row: 11;
    -ms-grid-column: 5;
  }
  .galeria-grid > *:nth-child(44) {
    -ms-grid-row: 11;
    -ms-grid-column: 7;
  }
  .galeria-grid > *:nth-child(45) {
    -ms-grid-row: 11;
    -ms-grid-column: 9;
  }
  .galeria-grid > *:nth-child(46) {
    -ms-grid-row: 11;
    -ms-grid-column: 11;
  }
  .galeria-grid > *:nth-child(47) {
    -ms-grid-row: 11;
    -ms-grid-column: 13;
  }
  .galeria-grid > *:nth-child(48) {
    -ms-grid-row: 11;
    -ms-grid-column: 15;
  }
  .galeria-grid > *:nth-child(49) {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
  }
  .galeria-grid > *:nth-child(50) {
    -ms-grid-row: 13;
    -ms-grid-column: 3;
  }
  .galeria-grid > *:nth-child(51) {
    -ms-grid-row: 13;
    -ms-grid-column: 5;
  }
  .galeria-grid > *:nth-child(52) {
    -ms-grid-row: 13;
    -ms-grid-column: 7;
  }
  .galeria-grid > *:nth-child(53) {
    -ms-grid-row: 13;
    -ms-grid-column: 9;
  }
  .galeria-grid > *:nth-child(54) {
    -ms-grid-row: 13;
    -ms-grid-column: 11;
  }
  .galeria-grid > *:nth-child(55) {
    -ms-grid-row: 13;
    -ms-grid-column: 13;
  }
  .galeria-grid > *:nth-child(56) {
    -ms-grid-row: 13;
    -ms-grid-column: 15;
  }
  .galeria-grid > *:nth-child(57) {
    -ms-grid-row: 15;
    -ms-grid-column: 1;
  }
  .galeria-grid > *:nth-child(58) {
    -ms-grid-row: 15;
    -ms-grid-column: 3;
  }
  .galeria-grid > *:nth-child(59) {
    -ms-grid-row: 15;
    -ms-grid-column: 5;
  }
  .galeria-grid > *:nth-child(60) {
    -ms-grid-row: 15;
    -ms-grid-column: 7;
  }
  .galeria-grid > *:nth-child(61) {
    -ms-grid-row: 15;
    -ms-grid-column: 9;
  }
  .galeria-grid > *:nth-child(62) {
    -ms-grid-row: 15;
    -ms-grid-column: 11;
  }
  .galeria-grid > *:nth-child(63) {
    -ms-grid-row: 15;
    -ms-grid-column: 13;
  }
  .galeria-grid > *:nth-child(64) {
    -ms-grid-row: 15;
    -ms-grid-column: 15;
  }

  .galeria-grid__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .galeria-grid__item--1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
  }

  .galeria-grid__item--2 {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span: 2;
    grid-column-end: 5;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
  }

  .galeria-grid__item--3 {
    -ms-grid-column: 5;
        grid-column-start: 5;
    -ms-grid-column-span: 4;
    grid-column-end: 9;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 5;
    grid-row-end: 6;
  }

  .galeria-grid__item--4 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-row-span: 3;
    grid-row-end: 6;
  }

  .galeria-grid__item--5 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 6;
        grid-row-start: 6;
    -ms-grid-row-span: 3;
    grid-row-end: 9;
  }

  .galeria-grid__item--6 {
    -ms-grid-column: 5;
        grid-column-start: 5;
    -ms-grid-column-span: 4;
    grid-column-end: 9;
    -ms-grid-row: 6;
        grid-row-start: 6;
    -ms-grid-row-span: 3;
    grid-row-end: 9;
  }
}
/* Pantalla 950px */
@media screen and (min-width: 950px) {
  /* Banner */
  .main-banner__title,
.main-elegirnos__title,
.main-caracteristicas__title {
    font-size: 2.4rem;
  }

  .main-banner__texto,
.main-caracteristicas__texto {
    font-size: 1.6rem;
  }

  .main-banner__boton,
.main-caracteristicas__boton {
    font-size: 1.5rem;
  }

  /* Por que elegirnos */
  .main-elegirnos__title::after,
.main-elegirnos__acordeon__title::after {
    font-size: 2.4rem;
  }

  .main-elegirnos__figure,
.main-elegirnos__img {
    width: 400px;
  }

  .main-elegirnos__acordeon__box p {
    font-size: 1.2rem;
  }

  .main-elegirnos__acordeon__box summary {
    font-size: 1.2em;
  }
}
/* Pantalla 1280px */
@media screen and (min-width: 1280px) {
  /* Caracteristicas */
  .main-caracteristicas__li {
    font-size: 1.4rem;
  }

  /* Nuestros servicios*/
  .main-servicios__caja {
    width: 30%;
  }
}
.main-detalles {
  width: 100%;
  margin: 15px 0;
  margin-bottom: 60px;
}
.main-detalles__container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.main-detalles__caja {
  background-color: #212e36;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.main-detalles__caja:hover {
  -webkit-box-shadow: 0px 0px 5px 3px #1192ee;
          box-shadow: 0px 0px 5px 3px #1192ee;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.main-detalles__caja__separate {
  padding: 15px;
  margin: 0 5px;
}
.main-detalles__icon {
  background-color: #1192ee;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 4px solid #212e36;
}
.main-detalles__icon i {
  font-size: 3rem;
  color: #ffffff;
}
.main-detalles__title, .main-detalles__titlePrincipal {
  font-family: "Londrina Solid", cursive;
  color: #ffffff;
  font-size: 1.38rem;
}
.main-detalles__titlePrincipal {
  text-align: center;
  font-size: 1.9rem;
  margin: 10px 0;
}
.main-detalles__texto {
  font-size: 1.2rem;
  text-align: justify;
}

.main-planes {
  width: 100%;
}
.main-planes__container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.main-planes__box {
  width: 320px;
  border: 2px solid #1192ee;
  margin: 20px auto;
  border-radius: 10px;
  position: relative;
  background-color: #212e36;
}
.main-planes__box:hover {
  background-color: rgba(17, 16, 16, 0.2);
}
.main-planes__h3 {
  font-size: 1.7rem;
  font-family: "Londrina Solid", cursive;
  text-align: center;
  margin: 10px 0;
}
.main-planes__h4 {
  text-align: center;
}
.main-planes__precio {
  text-align: center;
  font-size: 2rem;
  margin: 20px 0;
  padding: 15px;
  position: relative;
  font-weight: bolder;
}
.main-planes__precio::before {
  content: "A solo";
  position: absolute;
  font-size: 0.9rem;
  top: 0px;
}
.main-planes__precio::after {
  content: "/mes";
  position: absolute;
  font-size: 0.9rem;
  top: 30px;
}
.main-planes__boton {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #1192ee;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  border-top: 2px solid #1192ee;
  border-bottom: 2px solid #1192ee;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.main-planes__boton:hover {
  background-color: transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.main-planes__items {
  padding: 15px;
}
.main-planes__items::before {
  content: "👉 ";
}

/* Pantalla 732px*/
@media screen and (min-width: 720px) {
  .main-detalles__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-detalles__caja {
    width: 45%;
  }
}
/* Pantalla 950px*/
@media screen and (min-width: 950px) {
  .main-planes__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-planes__box:nth-child(3) {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .main-detalles__caja {
    width: 30%;
  }
}
/* Pantalla 1280px*/
@media screen and (min-width: 1280px) {
  .main-planes__box {
    width: 24%;
    margin: 10px 6px;
  }
}
/* Nuestros Servicios */
.main-servicios {
  width: 100%;
  overflow: hidden;
}
.main-servicios__title {
  font-size: 2rem;
  padding: 10px;
  text-align: center;
  font-family: "Londrina Solid", cursive;
  color: #ffffff;
}
.main-servicios__texto {
  text-align: center;
}
.main-servicios__container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.main-servicios__caja {
  background-color: #212e36;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}
.main-servicios__caja:hover {
  -webkit-box-shadow: 0px 0px 5px 3px #1192ee;
          box-shadow: 0px 0px 5px 3px #1192ee;
  -webkit-animation: 1s chicle 1;
          animation: 1s chicle 1;
}

/* Animación chicle */
@keyframes chicle {
  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
            transform: scaleX(1.25) scaleY(0.75);
  }
  50% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
            transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
            transform: scaleX(1.15) scaleY(0.85);
  }
}
/* Pantalla 1280px */
@media screen and (min-width: 1280px) {
  .main-servicios__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-servicios__caja {
    width: 23%;
  }
}
.main-footer {
  width: 100%;
  background-color: #212e36;
  -webkit-box-shadow: 0px 0px 5px 3px #ffffff;
          box-shadow: 0px 0px 5px 3px #ffffff;
}
.main-footer__container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.main-footer__caja {
  width: 100%;
  margin: 15px 0;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-footer__logoTexto {
  font-size: 1.5rem;
}
.main-footer__ul {
  margin: 15px 0;
  padding: 0;
  position: relative;
}
.main-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-footer__li {
  padding: 15px;
  list-style: none;
  margin: 0;
}
.main-footer__link {
  text-decoration: none;
  font-weight: bold;
  color: #1192ee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-footer__link__i {
  font-size: 1.5rem;
  margin-right: 10px;
}
.main-footer__title {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "Londrina Solid", cursive;
}
.main-footer__figure {
  margin: 15px 0;
  width: 100px;
}
.main-footer__img {
  width: 100%;
}
.main-footer__final {
  background-color: #1192ee;
  color: #192229;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

@media screen and (min-width: 950px) {
  .main-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-footer__caja {
    width: 33%;
  }
}